@model IEnumerable<Ecommerce.ViewModels.Category.CategoryViewModel>

@{
    ViewData["Title"] = "Index";
}

﻿@{
    List<Object> menuItems = new List<Object>();

    menuItems.Add(new
    {
        text = "Books",
        iconCss="fa-solid fa-book",
        Url="/Categories"
    });
    menuItems.Add(new
    {
        text = "Office",
        iconCss = "fa-solid fa-book-open",
        url = "/Categories"
    });
    menuItems.Add(new
    {
        text = "Electronics",
        iconCss = "fa-solid fa-laptop-code",
        url = "/categories"
    });
    menuItems.Add(new
    {
        text = "Household appliances",
        iconCss = "fa-solid fa-blender",
        url = "/categories"
    });

    menuItems.Add(new
    {
        text = "Clothing",
        iconCss="fa-solid fa-shirt",
        Url="/#"
    });
    menuItems.Add(new
    {
        text = "Shoes",
        iconCss = "fa-solid fa-shoe-prints",
        url = "#"
    });
    menuItems.Add(new
    {
        text = "Accessories",
        iconCss = "fa-solid fa-bag-shopping",
        url = "#"
    });
    menuItems.Add(new
    {
        text = "Beauty and care",
        iconCss = "fa-solid fa-wand-magic-sparkles",
        url = "#"
    });
    menuItems.Add(new
    {
        text = "Health",
        iconCss = "fa-solid fa-heart-pulse",
        url = "#"
    });
    menuItems.Add(new
    {
        text = "Household goods",
        iconCss = "fa-solid fa-house",
        url = "#"
    });
    menuItems.Add(new
    {
        text = "Construction and repair",
        iconCss = "fa-solid fa-paint-roller",
        url = "#"
    });
    menuItems.Add(new
    {
        text = "Childrens goods",
        iconCss = "fa-solid fa-hands-holding-child",
        url = "#"
    });
    menuItems.Add(new
    {
        text = "Automotive goods",
        iconCss = "fa-solid fa-car",
        url = "#"
    });
    menuItems.Add(new
    {
        text = "Sports and recreation",
        iconCss = "fa-solid fa-basketball",
        url = "#"
    });
    menuItems.Add(new
    {
        text = "Hobbies and creativity",
        iconCss = "fa-solid fa-palette",
        url = "#"
    });
    
}
<ejs-sidebar class="text-white" id="sidebar" width="250px" enableDock dockSize="100px"
             target=".dock-target" enableGestures="false">
    <e-content-template>

        <div class="logo-wrapper">
            <div class="w-100"></div>
            <i id="sidebar-toggler" class="fa-solid"></i>
        </div>

        <div class="profile-wrapper">
            <div class="titles d-flex flex-column ps-3">
                <h6 class="mb-0">Categories</h6>
            </div>
        </div>

        <ejs-menu id="menu"
                  items="menuItems"
                  orientation="Vertical"
                  hamburgerMode></ejs-menu>
    </e-content-template>
</ejs-sidebar>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th align="center">
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td align="center">
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        dockBar = document.getElementById('sidebar').ej2_instances[0];
        document.getElementById('sidebar-toggler').onclick = function () {
            dockBar.toggle();
        };
    });
</script>