@model Ecommerce.ViewModels.Product.ProductViewModel

@{
    ViewData["Title"] = "Details";
}

<div class="d-flex row">
    <div class="col-md-5">
        <div class="card mb-5">
            @if (Model.ImageUrl != null)
            {
                var imageBase64 = Convert.ToBase64String(Model.ImageUrl);
                var imageSrc = $"data:image/gif;base64,{imageBase64}";
                <img src="@imageSrc" alt="Image" class="img-thumbnail card-img-top" />
            }
            <div class="d-flex justify-content-between card-header">
                <label style="font-size: 23px;color: steelblue">@Model.Name</label>
                <input type="checkbox" id="favorite-@Model.Id" class="favorite-checkbox">
                <label for="favorite-@Model.Id" class="heart-icon">&#x2665;</label>
            </div>
        </div>
    </div>
    <div class="col-md-7 product-info">
        <div class="card mb-7 card-header">
            <label class="mb-2" style="font-size: 22px; font-weight:500">@Model.Description</label>
            <label class="mb-2" style="font-size: 20px;color: #a51313"><b>Price : @Model.Price</b></label>
            <label style="font-size: 30px;">Stock quantity: @Model.StockQuantity</label>
        </div>
        <div class="counter-wrapper">
            <div class="counter">
                <button type="button" onclick="this.nextElementSibling.stepDown()" class="decrement-button">-</button>
                <input type="number" value="0" min="0" max="@Model.StockQuantity" step="1" class="number-input">
                <button type="button" onclick="this.previousElementSibling.stepUp()" class="increment-button">+</button>
            </div>
        </div>
        <div class="mt-5">
            <div class="d-flex justify-content-around">
                <button type="button" class="btn btn-buy">Buy now</button>
                <button type="button" class="btn btn-add">Add to cart</button>
            </div>
        </div>
    </div>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
