@model IEnumerable<Ecommerce.ViewModels.Product.ProductViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row mt-2">
    @foreach (var product in Model)
    {
        <div class="col-4">
            <div class="card mb-4">
                <a asp-controller="Products" asp-action="Details" asp-route-id="@product.Id">
                    @if (product.ImageUrl != null)
                    {
                        var imageBase64 = Convert.ToBase64String(product.ImageUrl);
                        var imageSrc = $"data:image/gif;base64,{imageBase64}";
                        <img src="@imageSrc" alt="Image" class="img-thumbnail card-img-top product-image" />
                    }
                    <div class="d-flex justify-content-between card-header">
                        <label class="product-name">@product.Name</label>
                        <input type="checkbox" id="favorite-@product.Id" class="favorite-checkbox">
                        <label for="favorite-@product.Id" class="heart-icon">&#x2665;</label>
                    </div>
                    <div class="d-flex justify-content-between card-header">
                        <label class="product-price" ><b>Price: @product.Price</b></label>
                        <button class="btn-cart" asp-controller="OrderItem" asp-action="Create" asp-for="@product.Id"><i class="fa-solid fa-cart-arrow-down"></i></button>
                    </div>
                </a>
            </div>
        </div>
    }
</div>
