@model IEnumerable<Ecommerce.ViewModels.Product.ProductViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="carousel-container">
    <div id="carouselExampleIndicators" class="carousel slide">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="~/image-800x400 (2).jpg" class="d-block w-100" alt="Slide 1">
            </div>
            <div class="carousel-item">
                <img src="~/image-800x400 (2).jpg" class="d-block w-100" alt="Slide 2">
            </div>
            <div class="carousel-item">
                <img src="~/image-800x400 (2).jpg" class="d-block w-100" alt="Slide 3">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>


<div class="row mt-2" style="margin-left:140px; margin-right:140px;">
    @foreach (var product in Model)
    {
        <div class="col-4">
            <div class="card mb-4">
                <a asp-controller="Products" asp-action="Details" asp-route-id="@product.Id">
                    @if (product.ImageUrl != null)
                    {
                        var imageBase64 = Convert.ToBase64String(product.ImageUrl);
                        var imageSrc = $"data:image/gif;base64,{imageBase64}";
                        <img src="@imageSrc" alt="Image" class="img-thumbnail card-img-top product-image" />
                    }
                    <div class="d-flex justify-content-between card-header">
                        <label class="product-name">@product.Name</label>
                        <input type="checkbox" id="favorite-@product.Id" class="favorite-checkbox">
                        <label for="favorite-@product.Id" class="heart-icon">&#x2665;</label>
                    </div>
                    <div class="d-flex justify-content-between card-header">
                        <label class="product-price" ><b>Price: @product.Price $ </b></label>
                        <button class="btn-cart" asp-controller="OrderItem" asp-action="Create" asp-for="@product.Id"><i class="fa-solid fa-cart-arrow-down"></i></button>
                    </div>
                </a>
            </div>
        </div>
    }
</div>
